# Android Studio / IntelliJ
*.iml
.gradle
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# macOS
.DS_Store

# Android build output
/build
/captures
.externalNativeBuild
.cxx

# Firebase
google-services.json

# Other
out/